.dashboard-container {
    padding: 20px;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center content horizontally */
  }
  
  .dashboard-heading {
    color: #333;
    margin-bottom: 20px;
  }
  
  .dashboard-subheading {
    color: #555;
    margin-top: 20px;
  }
  
  .dashboard-info-box {
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-chart-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }